html {
    scroll-behavior: smooth;
}

body {
    background-color: aqua;
}

#ada {
    font-size: 18px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.travel_mainDiv {
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 1px solid #c7c7c7;
}

.travel_mainDiv img {
    width: 100%;
    height: 300px;
}

.travel_mainDiv hr {
    width: 100%
}

.trave_mainDiv p {
    margin-left: 20px;
}

#achievementsID {
    padding-bottom: 10px;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
    transition: transform .2s;
}

.movie_head:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.movie_head i {
    float: right;
}

.environment_li {
    margin-top: 13px;
    border-radius: 25px;
}

.environment_li h4 {
    border-bottom: 1px solid white;
    padding: 8px;
}

.environment_li img {
    border-radius: 25px;
    height: 200px;
}

.environment_li p {
    margin-top: 10px;
}
